body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    background-color: #111111
}

.dash-main{
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
    color: #7FDBFF;
}

.controls{
    width: 80%;
    margin: auto;
    text-align: left;
    font-size: 20px;
    color: white;
}
.controls-line{
    white-space: pre;
    display: grid;
    grid-template-columns:minmax(120px, max-content) 50px 50px;
}
.controls-line input{
    font-size: inherit;
    background-color: inherit;
    width: 33px;
    border: 0;
    color: white;
    font-size: "inherit";
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    font-style: italic;
}
 
.rc-slider{
    margin-top: 5px;
}